body {
    font-family: "Merriweather";
}

.jumbotron {
    padding: 30px;
    background-image: url("/NavbarBG.png");
    color: white;
}

header h1 {
    color: white;
}

header h2 {
    color: white;
}

footer {
    background-image: url("/NavbarBG.png");
    padding: 20px 0;
    color: white;
}

h1, h2, h3, h4 {
    font-family: "Merriweather";
    color: orange;
}

/* h2 {
    color: orange;
} */

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}