body {
    font-family: "Merriweather";
}

.jumbotron {
    padding: 30px;
    background-image: url("https://uploads-ssl.webflow.com/586daaf665135fc1782ecc67/586db1bf05a3fc624235d879_wood_1.jpg");
    background-size: 100%;
    color: white;
    margin: 0%;
}

header h1 {
    color: white;
}

header h2 {
    color: white;
}

.navbar {
    background-color:#FF8200;
}

#footer {
    background-image: url("https://uploads-ssl.webflow.com/586daaf665135fc1782ecc67/586db1bf05a3fc624235d879_wood_1.jpg");
    background-size: 100%;
    padding: 20px 0;
    left: 0;
    bottom: 0;
    color: white;
    width: 100%;
    height: 150px;
    margin-top: auto;
    position: sticky;
}

h1, h2, h3, h4 {
    font-family: "Merriweather";
    color: #FF8200;
}

/* h2 {
    color: orange;
} */

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

/* Links */
.a {
    color: white
}

#phone {
    color: white
}

#feedbackbtn {
    background-color:#FF8200
}
